<!DOCTYPE html>
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel="stylesheet", href="css/libs.min.css")
    link(rel="stylesheet" href="css/main.min.css")
    //- link(rel="shortcut icon" type="image/png" sizes="32x32" href="images/logo-32.png") 
    //- link(rel="shortcut icon" type="image/png" sizes="48x48" href="images/logo-48.png")
    //- link(rel="shortcut icon" type="image/png" sizes="196x196" href="images/logo-196.png")
    //- link(rel="apple-touch-icon" href="images/logo-196.png")
    title Демонстрационный сервер «QS: Спецодежды и имущества»

    // Yandex.Metrika counter
    script(type='text/javascript').
      (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
      ym(36793910, "init", {
      clickmap:true,
      trackLinks:true,
      accurateTrackBounce:true,
      webvisor:true
      });
    noscript
      div
        img(src='https://mc.yandex.ru/watch/36793910' style='position:absolute; left:-9999px;' alt='')
    // /Yandex.Metrika counter
  body.justify-content-center.align-items-center(background="images/industrial-hall-1920.jpg")

    include message

    script(src="js/libs.min.js")
    script(src="js/main.min.js")