.card.border-warning.alpha10( style="max-width: 50rem;")
    h5.card-header.h5 Демонстрационный сервер «QS: Спецодежда и имущество»
    .card-body
        p.card-text.ml-3 Для того, чтобы воспользоваться демонстрационным сервером, установите клиент себе на компьютер. И настройте подключение так, как указано в документации.

        a.btn.btn-primary.ml-3(href="https://files.qsolution.ru/Workwear/winsetup.exe") Скачать установщик 
        a.btn.btn-primary.ml-3(href="https://doc.qsolution.ru/workwear/2.7/install.html#install-client-win") Документация 